@page
@model IndexModel
@{
    ViewData["Title"] = "Games Catalog";
}

<div class="main-div">
    <div class="game-catalog-div">
        <a href="/Game/Details/1">
            <img class="banner-img" src="~/images/banner_etg.jpg"/>
        </a>
                <a href="/Game/Details/2">
            <img class="banner-img" src="~/images/banner_katanaZero.jpg"/>
        </a>
        <a href="/Game/Details/3">
            <img class="banner-img" src="~/images/banner_terraria.jpg" />
        </a>
    </div>
    <div class="game-catalog-div">
        <a href="/Game/Details/4">
            <img class="banner-img" src="~/images/banner-battlefield.png"/>
        </a>
        <a href="/Game/Details/5">
            <img class="banner-img" src="~/images/banner-deadcells.png" />
        </a>
        <a href="/Game/Details/6">
            <img class="banner-img" src="~/images/banner-dontstarve.png" />
        </a>
    </div>
</div>
